@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: Poppins;
  color: (--clr-light);
}

:root {
  --clr-light: #fff;
  --clr-accent: #f15bb5;
  --clr-accent-dark: #e43ca1;
  --clr-purple: #5215ff;
  --clr-dark-purple: #3a1898;

  --fw-light: 300;
  --fw-regular: 500;
  --fw-medium: 600;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  --transition-short: 0.3s ease-in;
  --transition-long: 0.5s ease-in;

  --index: calc(1vw+1vh);
}
/* 
  background-image: radial-gradient(
      circle,
      rgba(83, 21, 255, 0.729) 0%,
      rgba(83, 21, 255, 0.938) 100%
    ),
    url("./assets/images/grainy-overlay.png") */

body {
  min-height: 100%;
  width: 100%;
}

.btn {
  background: var(--clr-accent);
  color: var(--clr-light);
  font-family: Poppins;
  font-weight: var(--fw-regular);
  font-size: 16px;
  padding: 0.5em 1em;
  border-radius: 10px;
  cursor: pointer;
  transition: var(--transition-short);
}

.btn:hover {
  background: var(--clr-accent-dark);
  font-size: 17px;
}

.main {
  width: 100%;
  /* padding-left: clamp(1rem, 5%, 3rem);
  padding-right: clamp(1rem, 5%, 3rem); */
}

.shared-layout {
  /* background-image: url("./assets/images/res.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

/*//////////////////////NAVIGATION////////////////////*/

.main-navbar {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 clamp(1rem, 5%, 3rem);
  padding-top: 14px;
}

.logo {
  z-index: 5;
  cursor: pointer;
}

.links ul {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: var(--fw-regular);
  gap: 24px;
}

.link-element {
  transition: var(--transition-short);
  cursor: pointer;
  color: #fff;
}

.link-element:hover {
  color: var(--clr-accent);
}

.hamburger {
  width: 3rem;
  height: 3rem;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 15;
  font-size: 2.5rem;
  background-color: var(--clr-accent);
  color: var(--clr-light);
}

.icon {
  width: 1rem;
  height: 1rem;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.mobile-menu-active {
  z-index: 10;
}

.links-mobile {
  height: 100%;
  width: 100%;
  z-index: 5;
  position: absolute;
  top: 0;
}

.links-mobile::before {
  content: "";
}

.links-mobile {
  background: var(--clr-dark-purple);
  /* background: url("./assets/images/res.png") cover; */
  transition: var(--transition-long);
  clip-path: circle(0px at 84.75% 6.5%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  z-index: 1;
}
.active {
  z-index: 1;
  clip-path: circle(150% at 84.75% 6.5%);
}

.links-mobile ul {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  opacity: 0;
  font-size: 2rem;
  color: var(--clr-light);
  font-weight: bold;
  letter-spacing: 0.15rem;
  transition: var(--transition-short);
}

.links-active ul {
  opacity: 1;
}

.link-element {
  transition: var(--transition-short);
  cursor: pointer;
}
.link-element:hover {
  transform: scale(1.05);
  color: var(--clr-accent);
}

/*//////////////////////HOME////////////////////*/

.home-main {
  /* background-image: url("./assets/images/home-background.png"); */
  height: fit-content;
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
  padding: 0 clamp(1rem, 5%, 3rem);
}

.home-main h3 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
  color: #ffffff;
  max-width: 400px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: var(--fw-extra-bold);
  color: var(--clr-light);
}

h1 {
  font-size: 64px;
  line-height: 3.5rem;
  width: 50%;
}

h2 {
  font-size: 48px;
  line-height: 48px;
}

h3 {
  font-size: 32px;
  line-height: 32px;
}

p {
  /* font-family: PT Serif; */
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: var(--clr-light);
  width: 58%;
}

.btn-main {
  width: 250px;
  height: 50px;
}

.arrow-icon {
  margin: -2px 10px;
}

@media screen and (max-width: 768px) {
  .home-main {
    align-items: center;
    text-align: center;
  }
  h1,
  p {
    width: 90%;
  }
}

/*//////////////////////FORM ////////////////////*/
.form-input,
.btn-input {
  position: relative;
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 17px;
  color: var(--clr-accent-dark);
  font-weight: var(--fw-medium);
}

.genre,
.btn-input {
  min-width: 300px;
  height: 50px;
  max-width: 400px;
}

.form-input::placeholder {
  color: var(--clr-accent);
}

.btn-input {
  color: var(--clr-light);
}

.btn-no-background {
  background: transparent;
  cursor: pointer;
}

.year-1,
.year-2 {
  width: 100%;
  border-radius: 0;
}

.year-1 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.year-2 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.year-and-decade {
  display: flex;
  min-width: 300px;
  height: 50px;
  max-width: 400px;
}

.form-input:focus {
  outline: none;
}

label {
  margin-bottom: -40px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@media screen and (max-width: 768px) {
  .form-input {
    text-align: center;
  }
  .btn-input {
    padding-left: 52px;
  }
}

/*//////////////////////SEARCH RESULT ////////////////////*/
.container-page {
  width: 100vw;
  margin-left: 0;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: url("./assets/images/res.png") no-repeat cover; */
  padding: 50px clamp(1rem, 5%, 3rem);
}

.result-heading {
  display: flex;
  width: 90%;
  gap: 40px;
  align-items: center;
  padding: 0 36px;
}

.single-movie {
  position: relative;
  display: grid;
  grid-template-areas: "a c c" "a b b";
  width: 80%;
  padding: 24px;
  margin-top: 36px;
  border-radius: 24px;
  box-shadow: 0px 8px 30px var(--clr-light);
}

.image-and-info {
  z-index: 5;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: 24px;
  top: 0;
  left: 0;
  opacity: 0.15;
}
.movie-poster {
  grid-area: a;
  z-index: 5;
  height: 400px;
  object-fit: contain;
  margin-right: 24px;
  border-radius: 10px;
}

.single-movie-p {
  grid-area: b;
  font-size: 1rem;
  width: 100%;
  flex-grow: 1;
}

.watch-delete-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 80%;
}

.buttons {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  z-index: 5;
}
.btn-result {
  height: 40px;
  padding: 0 2em;
  display: flex;
  align-items: center;
  gap: 5px;
}

.single-movie-text {
  z-index: 5;
  width: 100%;
}

.info {
  grid-area: c;
  width: 80%;
  z-index: 5;
}

@media screen and (max-width: 768px) {
  .single-movie {
    width: 100%;
    grid-template-areas: "a b b" "c c c";
  }
  .movie-poster {
    height: 300px;
    margin-bottom: 12px;
  }

  .image-and-info {
    display: flex;
    gap: 24px;
  }

  .info {
    align-self: end;
    width: 100%;
    margin-bottom: 12px;
  }
  .single-movie-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
  }

  .result-heading {
    flex-direction: column;
    gap: 24px;
  }
  h2,
  h3 {
    width: 100%;
    text-align: center;
  }
  .movie-title {
    text-align: start;
  }
}

.footer {
  display: flex;
  width: 100%;
  padding: 12px;
  height: 9.05vh;
  align-items: center;
  justify-content: center;
}
.footer-text {
  font-weight: 500;
  font-size: 14px;
  width: fit-content;
}

/*//////////////////////PLACEHOLDER ////////////////////*/
.placeholder {
  opacity: 0.7;
  animation: skeleton-loading 0.5s linear infinite alternate;
}
.single-movie-placeholder {
  height: fit-content;
  padding-bottom: 10px;
}
.poster-placeholder {
  height: 280px;
  width: 300px;
  border-radius: 10px;
}

.placeholder-text {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.title-placeholder-main {
  height: 35px;
  width: 50%;
  border-radius: 5px;
}

.description-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 10px;
}

.rating-placeholder {
  width: 100px;
  height: 35px;
  margin-bottom: 6px;
  border-radius: 5px;
}
.title-placeholder {
  height: 24px;
  border-radius: 5px;
}

.title-placeholder-1 {
  width: 90%;
}
.title-placeholder-2 {
  width: 94%;
}
.title-placeholder-3 {
  width: 90%;
}
.title-placeholder-4 {
  width: 70%;
}

.button-placeholder {
  width: 120px;
  height: 40px;
  margin-top: 20px;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .placeholder-text {
    align-items: center;
  }
  .description-placeholder {
    flex-direction: column;
    align-items: center;
  }
}

@keyframes skeleton-loading {
  0% {
    background: hsl(200, 20%, 70%);
  }
  100% {
    background: hsl(200, 20%, 95%);
  }
}

/*//////////////////////RATING ////////////////////*/
.rating-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}
.rating-btn {
  border-radius: 35px;
  display: grid;
  place-content: center;
  width: 40px;
  height: 40px;
}

.btn-disabled {
  background: #f79ed3;
}

.selected-btn {
  background: var(--clr-accent-dark);
}

/*//////////////////////PAGE ////////////////////*/

.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 24px;
  gap: 6px;
}

.page {
  background: none;
  font-size: 18px;
  font-weight: 600;
  color: var(--clr-light);
  transition: 0.3s ease;
  cursor: pointer;
}

.page-active {
  font-size: 24px;
}
