@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: Poppins;
  color: (--clr-light);
}

:root {
  --clr-light: #fff;
  --clr-accent: #f15bb5;
  --clr-accent-dark: #e43ca1;
  --clr-purple: #5215ff;
  --clr-dark-purple: #3a1898;

  --fw-light: 300;
  --fw-regular: 500;
  --fw-medium: 600;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  --transition-short: 0.3s ease-in;
  --transition-long: 0.5s ease-in;

  --index: calc(1vw+1vh);
}
/* 
  background-image: radial-gradient(
      circle,
      rgba(83, 21, 255, 0.729) 0%,
      rgba(83, 21, 255, 0.938) 100%
    ),
    url("./assets/images/grainy-overlay.png") */

body {
  min-height: 100%;
  width: 100%;
}

.btn {
  background: var(--clr-accent);
  color: var(--clr-light);
  font-family: Poppins;
  font-weight: var(--fw-regular);
  font-size: 16px;
  padding: 0.5em 1em;
  border-radius: 10px;
  cursor: pointer;
  transition: var(--transition-short);
}

.btn:hover {
  background: var(--clr-accent-dark);
  font-size: 17px;
}

.main {
  width: 100%;
  /* padding-left: clamp(1rem, 5%, 3rem);
  padding-right: clamp(1rem, 5%, 3rem); */
}

.shared-layout {
  /* background-image: url("./assets/images/res.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

/*//////////////////////NAVIGATION////////////////////*/

.main-navbar {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 clamp(1rem, 5%, 3rem);
  padding-top: 14px;
}

.logo {
  z-index: 5;
  cursor: pointer;
}

.links ul {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: var(--fw-regular);
  gap: 24px;
}

.links ul li {
  transition: var(--transition-short);
  cursor: pointer;
}

.links ul li:hover {
  color: var(--clr-accent);
}

.hamburger {
  width: 3rem;
  height: 3rem;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  font-size: 2.5rem;
  background-color: var(--clr-accent);
  color: var(--clr-light);
}

.icon {
  width: 1rem;
  height: 1rem;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.links-mobile {
  height: 100%;
  width: 100%;
  z-index: 5;
  position: absolute;
  top: 0;
}

.links-mobile::before {
  content: "";
  background: url("./assets/images/grainy-overlay.png");
}

.links-mobile {
  /* background: var(--clr-dark-purple); */
  background-image: url("./assets/images/res.png");
  transition: var(--transition-long);
  clip-path: circle(0px at 84.75% 6.5%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  z-index: 1;
}
.active {
  clip-path: circle(150% at 84.75% 6.5%);
}

.links-mobile ul {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  opacity: 0;
  font-size: 2rem;
  color: var(--clr-light);
  font-weight: bold;
  letter-spacing: 0.15rem;
  transition: var(--transition-short);
}

.links-active ul {
  opacity: 1;
}

.links-active ul li {
  transition: var(--transition-short);
  cursor: pointer;
}
.links-active ul li:hover {
  transform: scale(1.1);
  color: var(--clr-accent);
}

/*//////////////////////HOME////////////////////*/

.home-main {
  /* background-image: url("./assets/images/home-background.png"); */
  height: fit-content;
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
  padding: 0 clamp(1rem, 5%, 3rem);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: var(--fw-extra-bold);
  color: var(--clr-light);
}

h1 {
  font-size: 64px;
  line-height: 3.5rem;
  width: 50%;
}

h2 {
  font-size: 48px;
  line-height: 48px;
}

h3 {
  font-size: 32px;
  line-height: 32px;
}

p {
  /* font-family: PT Serif; */
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: var(--clr-light);
  width: 58%;
}

.btn-main {
  width: 250px;
  height: 50px;
  z-index: 3;
}

.arrow-icon {
  margin: -2px 10px;
}

.hidden {
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .home-main {
    align-items: center;
    text-align: center;
  }
  h1,
  p {
    width: 90%;
  }
}

/*//////////////////////FORM ////////////////////*/
.form-input,
.btn-input {
  position: relative;
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 17px;
  color: var(--clr-accent-dark);
  font-weight: var(--fw-medium);
}

.genre,
.btn-input {
  min-width: 300px;
  height: 50px;
  max-width: 400px;
}

.form-input::placeholder {
  color: var(--clr-accent);
}

.btn-input {
  color: var(--clr-light);
}

.btn-no-background {
  background: transparent;
  cursor: pointer;
}

.year-1,
.year-2 {
  width: 100%;
  border-radius: 0;
}

.year-1 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.year-2 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.year-and-decade {
  display: flex;
  min-width: 300px;
  height: 50px;
  max-width: 400px;
}

.form-input:focus {
  outline: 2px solid var(--clr-accent);
}
label {
  margin-bottom: -35px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@media screen and (max-width: 768px) {
  .form-input {
    text-align: center;
  }
  .btn-input {
    padding-left: 52px;
  }
}

/*//////////////////////SEARCH RESULT ////////////////////*/
.result-page {
  width: 100vw;
  margin-left: 0;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: url("./assets/images/res.png") no-repeat cover; */
  padding: 50px clamp(1rem, 5%, 3rem);
}

.result-heading {
  display: flex;
  width: 90%;
  gap: 40px;
  align-items: center;
  padding: 0 36px;
}

.single-movie {
  position: relative;
  width: 80%;
  display: flex;
  padding: 24px;
  margin-top: 36px;
  gap: 24px;
  border-radius: 24px;
  box-shadow: 0px 8px 30px var(--clr-light);
}

.backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: 24px;
  top: 0;
  left: 0;
  opacity: 0.15;
}
.movie-poster {
  height: 300px;
  object-fit: contain;
  z-index: 2;
}

.single-movie-p {
  font-size: 1rem;
  width: 100%;
  flex-grow: 1;
  z-index: 2;
}

h5,
h4 {
  z-index: 2;
}

.btn-result {
  z-index: 9;
  align-self: end;
  justify-self: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12px;
}

@media screen and (max-width: 768px) {
  .single-movie {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .single-movie-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
  }
  .movie-poster {
    width: 100%;
  }
  .result-heading {
    flex-direction: column;
    gap: 24px;
  }
  h2 {
    width: 90%;
  }
  h3 {
    width: 90%;
    font-size: 24px;
  }
}

.tmdb {
  width: 70px;
}
.footer {
  display: flex;
  padding: 12px;
  align-items: center;
}
.footer p {
  font-weight: 500;
  justify-self: center;
  margin: 0 auto;
}
