@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: Poppins;
  color: (--clr-light);
}

:root {
  --clr-light: #fff;
  --clr-accent: #f15bb5;
  --clr-accent-dark: #e43ca1;
  --clr-purple: #5215ff;
  --clr-dark-purple: #3a1898;

  --fw-light: 300;
  --fw-regular: 500;
  --fw-medium: 600;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  --transition-short: 0.3s ease-in;
  --transition-long: 0.5s ease-in;
}
/* 
  background-image: radial-gradient(
      circle,
      rgba(83, 21, 255, 0.729) 0%,
      rgba(83, 21, 255, 0.938) 100%
    ),
    url("./assets/images/grainy-overlay.png") */

body {
  min-height: 100vh;
  width: 100%;
}

.btn {
  background: var(--clr-accent);
  color: var(--clr-light);
  font-family: Poppins;
  font-weight: var(--fw-regular);
  font-size: 16px;
  padding: 0.5em 1em;
  border-radius: 10px;
  cursor: pointer;
  transition: var(--transition-short);
}

.btn:hover {
  background: var(--clr-accent-dark);
  font-size: 17px;
}

.main {
  width: 100%;
  padding-left: clamp(1rem, 5%, 3rem);
  padding-right: clamp(1rem, 5%, 3rem);
}

.shared-layout {
  height: 100vh;
  background-image: url("./assets/images/home-background.png");
}

/*//////////////////////NAVIGATION////////////////////*/

.main-navbar {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links ul {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: var(--fw-regular);
  gap: 24px;
}

.links ul li {
  transition: var(--transition-short);
  cursor: pointer;
}

.links ul li:hover {
  color: var(--clr-accent);
}

.hamburger {
  width: 3rem;
  height: 3rem;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  font-size: 2.5rem;
  background-color: var(--clr-accent);
  color: var(--clr-light);
}

.icon {
  width: 1rem;
  height: 1rem;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.links-mobile {
  height: 100%;
  width: 100%;
  z-index: 5;
  position: absolute;
  top: 0;
}

.links-mobile::before {
  content: "";
  background: url("./assets/images/grainy-overlay.png");
}

.links-mobile {
  /* background: var(--clr-dark-purple); */
  background: url("./assets/images/grainy-overlay.png"),
    radial-gradient(circle, rgb(78, 49, 156) 0%, rgb(83, 21, 255) 100%);
  transition: var(--transition-long);
  clip-path: circle(0px at 84.75% 6.5%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  z-index: 1;
}
.active {
  clip-path: circle(150% at 84.75% 6.5%);
}

.links-mobile ul {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  opacity: 0;
  font-size: 2rem;
  color: var(--clr-light);
  font-weight: bold;
  letter-spacing: 0.15rem;
  transition: var(--transition-short);
}

.links-active ul {
  opacity: 1;
}

.links-active ul li {
  transition: var(--transition-short);
  cursor: pointer;
}
.links-active ul li:hover {
  transform: scale(1.1);
  color: var(--clr-accent);
}

/*//////////////////////HOME////////////////////*/

.home-main {
  height: fit-content;
  min-height: 87vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.home-main h1,
.home-main p {
  width: 60%;
}
h1 {
  font-size: 4rem;
  font-weight: var(--fw-extra-bold);
  color: var(--clr-light);
  line-height: 3.5rem;
}

p {
  font-family: PT Serif;
  font-size: 1.3rem;
  color: var(--clr-light);
}

.btn-main {
  width: 250px;
  height: 50px;
  z-index: 3;
}

.arrow-icon {
  margin: -2px 10px;
}
@media screen and (max-width: 768px) {
  .home-main {
    align-items: center;
    text-align: center;
  }
}

/*//////////////////////FORM ////////////////////*/
.form-input {
  position: relative;
  min-width: 300px;
  height: 50px;
  border-radius: 10px;
}
label {
  margin-bottom: -35px;
}
